* {
  background-color: #18191E;
  color: white;
  border-radius: 12px;
}

.container {
  margin-top: 24px;
  border-radius: 12px;
  border: solid yellow;
}
textarea {
  width: 440px;
}

.right {
  width: 440px;
}
